<!-- tasks-component -->
<div class="tasks">
  <div class="left-menu">
    <button (click)="toggleTaskEditor()">
      Task Editor
    </button>
    <button  class="icon" >
      <fa-icon [icon]="faPenToSquare"  size="3x"></fa-icon>
    </button>

  </div>

  <div class="editor" [class.editor-visible]="showTaskEditor">
    <app-task-editor (onAddTask)="addTask($event)" (onCloseTaskEditor)="closeTaskEditor($event)"></app-task-editor>
  </div>

  <div class="list">
    <app-task-item *ngFor="let task of getTasks()" [task]="task"
      (onCompleteTask)="completeTask($event)"
      (onDeleteTask)="deleteTask($event)">
    </app-task-item>
  </div>

</div>
