<!-- app-component -->
<div class="app">
  <div class="logo">

  </div>

  <div class="navigation">
    <div class="home-button" routerLink="/">
      <fa-icon [icon]="faHouseChimney" size="2x"></fa-icon>
    </div>

    <nav class="menu">
      <div class="nav-button">
        <a class="nav-link" routerLink="tasks" routerLinkActive="nav-link-active">Tasks</a>
      </div>
      <div class="nav-button">
        <a class="nav-link" routerLink="about" routerLinkActive="nav-link-active">About</a>
      </div>
    </nav>
  </div>



</div>

<div class="page">
  <router-outlet></router-outlet>
</div>

<div class="footer">

</div>
