<div class="app">
  <div class="logo">

  </div>

  <nav class="navigation">
    <div class="nav-button">
      <a class="nav-link"  routerLink="tasks" routerLinkActive="nav-link-active">Tasks</a>
    </div>

    <div class="nav-button">
      <a  class="nav-link" routerLink="about"  routerLinkActive="nav-link-active">About</a>
    </div>

    <div class="nav-button">
      <a  class="nav-link"   routerLinkActive="nav-link-active">Tasks</a>
    </div>

  </nav>

</div>

<div class="page">
  <router-outlet ></router-outlet>
</div>


