@import "../../../../../variables.scss";
 .task-error {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   color: red;
   gap: 8px;
   padding: 2px 8px;


 }

 .valid {
   color: green;
 }

 .invalid {
   color: red;
 }
