
$task-bg-color-main:rgb(253, 45, 45) ;
$task-bg-color-accent:rgb(253, 45, 45);
$task-complete-bg-color:rgb(36, 252, 36);

$body-color-1:rgb(0, 0, 0);
$body-color-2:indigo;
$body-color-3:violet;

$menu-border-radius: 20px;
$task-border-radius:5px;

